html, body {
  font-family:$font-family-base;
  margin:0;
  padding:0;
  width:100%;

}

@include breakpoint(lg) {

  }

h1 {
  font-size:$font-size-h1;
}
h2 {
  font-size:$font-size-h2;
}
h3 {
  font-size:$font-size-h3;
}
h4 {
  font-size:$font-size-h4;
}
h5 {
  font-size:$font-size-h5;
}
h6 {
  font-size:$font-size-h6;
}
p {

}
a {

}
